
pymongo
langgraph
fastapi[standard]
langchain
jwt
langchain_google_genai
langchain_groq
langchain_community
IPython
langgraph-checkpoint-mongodb
mangum
pydantic
duckduckgo-search
qdrant-client[fastembed]
torch 
torchvision
sentence-transformers
pytest
pytest-asyncio 
chromadb